@font-face {
    font-family: LethalCompany;
    src: url(../fonts/3270-Regular.ttf);
}

@font-face {
    font-family: Icons;
    src: url(../fonts/Icons.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: LethalCompany, Arial, sans-serif;
    background-color: rgb(121, 121, 121);
}

#overlay {
    height: 75px;
    padding: 0 30px 0 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 140px 1fr 160px 250px 250px;
    column-gap: 30px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.hidden {
    visibility: hidden;
}

.collapse {
    visibility: collapse;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
}

.item p {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
}

.icon {
    font-family: Icons !important;
    font-weight: normal !important;
}

@media only screen and (max-width: 1420px) {
    #overlay {
        grid-template-columns: 140px 1fr 145px 225px 210px;
    }
}

@media only screen and (max-width: 1339px) {
    #overlay {
        grid-template-columns: 120px 1fr 120px 190px 175px;
    }

    .item p {
        font-size: 25px;
    }
}

